html{
    padding: 70px;
    margin: 0px;
    font-size: 20px;
}
form input{
    height: 30px;
    width: 15rem;
    padding-left: 10px;
    margin-right: 10px;
}
form{
    display: flex;
    justify-content: center;
}
.to-do-list{
    margin-top: 50px;
    width: 400px;
    height: 500px;
    background-color: rgb(153, 156, 149);
    border: 1px solid gray;
    border-radius: 10px;
    padding: 15px;
    overflow: auto;
    display: inline-block;
}
.item{
    width: 100%;
    background-color: rgb(212, 97, 97);
    border-radius: 10px;
    padding: 10px;
    padding-right: 0;
    color: white;
    margin-bottom: 10px;
    cursor: pointer;
}
input[type='checkbox'] {
    cursor: pointer;
}
.item .buttons{
    display: inline-block;
    float: right;
    padding-right: 20px;
}
.item .buttons i{
    margin-left: 5px;
}
input#add{
    display: inline;
    cursor: pointer;
    height: 35px;
}
.completed-list{
    display: inline-block;
    margin-top: 50px;
    width: 400px;
    height: 500px;
    background-color:rgb(129 134 123);
    border: 1px solid gray;
    border-radius: 10px;
    padding: 15px;
    overflow: auto;
}
.lists{
    display: flex;
    justify-content: space-between;
}
.completed{
    text-decoration: line-through;
    background-color: rgb(93 138 35);
}
